/*!
 * veez21
 */
 
#float-button {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
body {
	background-color: #2a2a2a;
}
p{margin:0px;}
p.center {
	text-align: center;
}
p.back {
	background-color: #2a2a2a;
}
img.center {
	display: block;
	margin: 0 auto;
}
.center-div {
	margin: 0 auto;
	width: 370px; 
}
button{
	position: relative;
	border: none;
	outline:none;
	cursor: pointer;
	background: #89669b;
	color: white;
	padding: 18px 60px;
	border-radius: 2px;
	font-size: 22px;
}
.fab{
	border-radius: 50%;
	margin:0;
	padding: 20px;
}
.material{
	position:relative;
	color:white;
	margin: 20px auto;
	height:400px;
	width:500px;
	background:#f45673;
  
}
@-webkit-keyframes ripple{0%{transform:scale3d(0, 0, 0);}
50%, 100%{-webkit-transform:scale3d(1, 1, 1);}
100%{opacity:0;}
}
@keyframes ripple{0%{transform:scale3d(0, 0, 0);}
50%, 100%{transform:scale3d(1, 1, 1);}
100%{opacity:0;}
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

