/*!
 * veez21
 */
 
#float-button {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
body {
	background-color: #2a2a2a;
    /*display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
}*/
p{margin:0px;}
p.center {
	text-align: center;
}
p.black {
	background-color: #2a2a2a;
}
p {
	color: grey;
}
img.center {
	display: block;
	margin: 0 auto;
}
.center-div {
	margin: 0 auto;
	width: 370px; 
}
.button-mat{
	position: relative;
	border: none;
	outline:none;
	cursor: pointer;
	background: #444444;
	color: #aaaaaa;
    padding: 0.625rem 1.25rem;
	border-radius: 2px;
	font-size: 1.25rem;
    font-weight: 700;
}
.button-mat:hover {
	background-color: #333333;
}	
.fab{
	border-radius: 50%;
	margin:0;
	padding: 20px;
}
.material{
	position:relative;
	color:white;
	margin: 20px auto;
	height:400px;
	width:500px;
	background:#333333;
  
}
@-webkit-keyframes ripple{0%{transform:scale3d(0, 0, 0);}
50%, 100%{-webkit-transform:scale3d(1, 1, 1);}
100%{opacity:0;}
}
@keyframes ripple{0%{transform:scale3d(0, 0, 0);}
50%, 100%{transform:scale3d(1, 1, 1);}
100%{opacity:0;}
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	border-radius: 2px;
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
   text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-1 + label {
    color: #aaaaaa;
    background-color: #444444;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #333333;
}

.p-card {
  max-height: 100%;
  overflow: hidden;
  flex-grow: 1;
  padding: 24px;
  border-radius: 2px;
  color: inherit;
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  background-color: #444444;
  width: 512px;
  text-align: center;
  margin: 0 auto;
}
.container-lol {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}

.waves-effect.waves-default .waves-ripple {
  background-color: #b5b5b5;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #828282;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #23262b;
}
